# port used by the server
SERVER_PORT=8015
# path to music files and directory
DATA_PATH=/home/arnaud/AudioJs/data
# path to file for current playlist (created on the fly)
SAVE_PATH=/home/arnaud/AudioJs/playlist.json
